<%= form_with(model: project, local: true) do |form| %>
  <!--
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  -->
  <%= render(partial: "view_parts/alert/validation", locals: {model: project}) %>

  <%= render(partial: "view_parts/form/input_text", locals: {row: true, form: form, field_name: "name", required: true}) %>
  <%= render(partial: "view_parts/form/input_textarea", locals: {row: true, form: form, field_name: "summary"}) %>
  <%= render(partial: "view_parts/form/input_date", locals: {row: true, form: form, field_name: "start_date"}) %>
  <%= render(partial: "view_parts/form/input_date", locals: {row: true, form: form, field_name: "end_date"}) %>

  <div class="mt-4">
    <%= form.submit get_action_text, class: "btn btn-primary" %>
  </div>
<% end %>
