<!DOCTYPE html>
<html>
  <head>
    <%= render(:partial => "layouts/head_content") %>

    <style type="text/css">
      body {
        padding-top: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    </style>

    <!-- 選択プロジェクトのchangeイベントを取得してsubmit -->
    <script type="text/javascript">
      $(document).ready(function(){
        $('#project_id').on('change', function(){
          $('#switch_project_form').submit();
        });
      });
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="<%= dashboard_path %>">RailsApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbars" aria-controls="header-navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="header-navbars">
        <!-- 左寄せメニュー -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= "active" if controller_name == "dashboard" %>">
            <a class="nav-link" href="<%= dashboard_path %>">Dashboard</a>
          </li>
          <li class="nav-item  <%= "active" if controller_name == "projects" %>">
            <a class="nav-link" href="<%= projects_path %>">Project</a>
          </li>
          <li class="nav-item  <%= "active" if controller_name == "task" %>">
            <a class="nav-link" href="#">Task</a>
          </li>
          <li class="nav-item  <%= "active" if controller_name == "setting" %>">
            <a class="nav-link" href="#">Setting</a>
          </li>
          <% if current_user.admin %>
          <li class="nav-item  <%= "active" if controller_path.start_with?("admin") %>">
            <a class="nav-link" href="<%= admin_top_path %>">Admin</a>
          </li>
          <% end %>
        </ul>

        <!-- 右寄せメニュー -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <span class="nav-link text-white"><%= current_user.email %></span>
          </li>
          <li class="nav-item">
              <%= link_to('Logout', destroy_user_session_path, {:method => :delete, :class => "btn btn-primary"}) %>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container-fluent">
      <div class="row">
        <!-- sidemenu -->
        <div class="col-md-3">
          <!-- select project -->
          <div class="card mb-3">
            <h5 class="card-header">Project</h5>
            <div class="card-body">
              <%= form_tag({:controller => '/auth', :action => 'switch_project'}, { :id => 'switch_project_form'}) do %>
                <input id="controller_name" name="controller_name" type="hidden" value="<%= controller.controller_path %>">
                <select id="project_id" name="project_id" class="form-control form-control-sm">
                    <% @select_projects.each do |project| %>
                      <option value="<%= project.id %>" <%= "selected" if project.id == current_project_id %>> <%= project.name %></option>
                    <% end %>
                </select>
              <% end %>
            </div>
          </div>

          <!-- other menu -->
          <%= yield :sidemenu %>
        </div>

        <!-- main content -->
        <div class="col-md-9">
          <div>
            <% if notice.present? %>
            <p class="alert alert-info alert-dismissible fade show" role="alert">
              <span><%= notice %></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </p>
            <% end %>

            <% if alert.present? %>
            <p class="alert alert-danger" role="alert">
              <span><%= alert %></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </p>
            <% end %>
          </div>

          <%= yield %>
        </div>
      </div>

    </main><!-- /.container -->
  </body>
</html>
