<!DOCTYPE html>
<html>
  <head>
    <%= render(:partial => "layouts/head_content") %>

    <style>
      body {
        padding-top: 5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">RailsApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div id="application_signout" >
          <span class="functions" style="font-size:12px;float:right">
            <%= link_to 'ログアウト', users_sign_out_path, :method => :get %>
          </span>
        </div>

      </div>
    </nav>

    <main role="main" class="container-fluent">
      <div class="row">
        <!-- sidemenu -->
        <div class="col-md-3">
          <!-- select project -->
          <div class="card">
            <h5 class="card-header">プロジェクト</h5>
            <div class="card-body">
              <select class="form-control form-control-sm">
                <option>aaa</option>
                <option>bbb</option>
                <option>ccc</option>
              </select>
            </div>
          </div>

          <!-- other menu -->
          <%= yield :sidemenu %>
        </div>

        <!-- main content -->
        <div class="col-md-9">
          <div>
            <% if notice.present? %>
            <p class="alert alert-info alert-dismissible fade show" role="alert">
              <span><%= notice %></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </p>
            <% end %>

            <% if alert.present? %>
            <p class="alert alert-danger" role="alert">
              <span><%= alert %></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </p>
            <% end %>
          </div>

          <%= yield %>
        </div>
      </div>

    </main><!-- /.container -->
  </body>
</html>
