<% content_for :head_js do %>
<% end %>

<% content_for :sidemenu do %>
  <div class="list-group mb-3">
    <a class="list-group-item <%= "active" if request.path_info == profile_edit_path %>" href="<%= profile_edit_path %>">プロフィール</a>
    <a class="list-group-item <%= "active" if request.path_info == profile_edit_image_path %>" href="<%= profile_edit_image_path %>">アイコン</a>
    <a class="list-group-item <%= "active" if current_page?(:action => 'edit_password') %>" href="#">パスワード変更</a>
  </div>
<% end %>

<%= render :template => 'layouts/application_base', locals: { hidden_project: true } %>
