<h1><%= t(".title") %></h1>

<div class="btn-group mt-2 mb-4">
  <a class="btn btn-sm <%= (params[:completed] != "1")? "btn-primary" : "btn-light" %>" style="width:150px;border:solid 1px rgb(0,0,0,0.125)" href="<%= tickets_path %>">未完了</a>
  <a class="btn btn-sm <%= (params[:completed] == "1")? "btn-primary" : "btn-light" %>" style="width:150px;border:solid 1px rgb(0,0,0,0.125)" href="<%= tickets_path(completed: 1) %>">完了</a>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".summary") %></th>
        <th><%= t(".status") %></th>
        <th><%= t(".work_time") %></th>
        <th><%= t(".start_date") %></th>
        <th><%= t(".end_date") %></th>
        <th>担当ユーザ</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.name %></td>
          <td><%= truncate(ticket.summary, length: 35) %></td>
          <td><%= Ticket::STATUS_LIST[ticket.status] %></td>
          <td><%= l(ticket.work_time, :format => :time) if ticket.work_time.present? %></td>
          <td><%= ticket.start_date %></td>
          <td><%= ticket.end_date %></td>
          <td><%= ticket.user.name %></td>
          <td><%= link_to t('text.action.show'), ticket %></td>
          <td><%= link_to t('text.action.edit'), edit_ticket_path(ticket) %></td>
          <td><%= link_to t('text.action.delete'), ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to t('text.action.new'), new_ticket_path, class: "btn btn-primary" %>

<br>
<div class="d-flex justify-content-center">
  <%= paginate @tickets %>
</div>
