<h1>Show Ticket</h1>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.name') %>
  </p>
  <p class="col-8"><%= @ticket.name %></p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.summary') %>
  </p>
  <p class="col-8"><%= auto_link_nl2br(@ticket.summary) %></p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.status') %>
  </p>
  <p class="col-8"><%= Ticket::STATUS_LIST[@ticket.status] %></p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2"><%= t('.attachment_file') %></p>
  <p class="col-md-8">
    <%= link_to_if(@ticket.attachment_file.present?, @ticket.attachment_file_identifier, download_attachment_file_ticket_path(@ticket)) %>
  </p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.work_time') %>
  </p>
  <p class="col-8"><%= l(@ticket.work_time, :format => :time) if @ticket.work_time.present? %></p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.start_date') %>
  </p>
  <p class="col-8"><%= @ticket.start_date %></p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.end_date') %>
  </p>
  <p class="col-8"><%= @ticket.end_date %></p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">担当者</p>
  <p class="col-8"><%= @ticket.user.name %></p>
</div>


<%= link_to 'Edit', edit_ticket_path(@ticket), :class => "btn btn-primary" %>
<%= link_to 'Back', tickets_path, :class => "btn btn-primary ml-3" %>
