<p>
  <b><%= t('activerecord.attributes.project.name') %>:</b>
  <%= @project.name %>
</p>
 
<p>
  <b><%= t('activerecord.attributes.user.start_date') %>:</b>
  <%= @project.start_date %>
</p>
 
<p>
  <b><%= t('activerecord.attributes.user.end_date') %>:</b>
  <%= @project.end_date %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
