<%= form_with(model: ticket, local: true) do |form| %>

  <%= render(partial: "view_parts/alert/validation", locals: {model: ticket}) %>

  <%= form.hidden_field :project_id, value: current_project_id %>
  <%= render(partial: "view_parts/form/input_text", locals: {row: true, form: form, field_name: "name", required: true}) %>
  <%= render(partial: "view_parts/form/input_textarea", locals: {row: true, form: form, field_name: "summary"}) %>


  <div class="form-group row">
    <%= form.label :status, class: "col-form-label col-md-2" %>
    <div class="col-md-10">
      <%= form.select :status, TicketConst::STATUS_LIST.invert, {}, class: "form-control" %>
    </div>
  </div>

  <%= render(partial: "view_parts/form/input_file", locals: {row: true, form: form, field_name: "attachment_file"}) %>
  <% if ticket.attachment_file.file.present? %>
  <%= form.hidden_field(:attachment_file_cache) %>
  <div class="form-group row">
    <div class="offset-md-2 col-md-10">
      <%= ticket.attachment_file.file.original_filename %>
      <label class="mb-0 ml-3" for="project_remove_attachment_file">
        <%= form.check_box(:remove_attachment_file, id: 'project_remove_attachment_file') %>
        削除
      </label>
    </div>
  </div>
  <% end %>


  <%= render(partial: "view_parts/form/input_time", locals: {row: true, form: form, field_name: "work_time"}) %>
  <%= render(partial: "view_parts/form/input_date", locals: {row: true, form: form, field_name: "start_date"}) %>
  <%= render(partial: "view_parts/form/input_date", locals: {row: true, form: form, field_name: "end_date"}) %>

  <div class="form-group row">
    <%= form.label "担当者", class: "col-form-label col-md-2" %>
    <div class="col-md-10">
      <%= form.select :assigned_user_id, @users.map{|u| [u.name, u.id]}, {}, class: "form-control" %>
    </div>
  </div>

  <div class="mt-4">
    <%= form.submit get_action_text, class: "btn btn-primary" %>
  </div>
<% end %>
