<div>
  <canvas class="w-100" id="myChart"></canvas>
</div>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: <%= raw(@user_list.to_json) %>,
          datasets: [
          {
              label: "<%= TicketConst.status_name(TicketConst::STATUS_DRAFT) %>",
              borderWidth:1,
              backgroundColor: "green",
              borderColor: "green",
              data: <%= raw(@draft_list.to_json) %>
           },
           {
              label: "<%= TicketConst.status_name(TicketConst::STATUS_START) %>",
              borderWidth:1,
              backgroundColor: "cornflowerblue",
              borderColor: "cornflowerblue",
              data: <%= raw(@start_list.to_json) %>
          }]
      },
      options: {
          title: {
              display: true,
              text: 'チケット状況', //グラフの見出し
              padding:3
          },
          scales: {
              xAxes: [{
                    stacked: true, //積み上げ棒グラフにする設定
                    categoryPercentage:0.4 //棒グラフの太さ
              }],
              yAxes: [{
                    stacked: true, //積み上げ棒グラフにする設定
                    ticks: {       //最大値最小値設定
                              min: 0   //最小値
                           }

              },]
          },
          legend: {
              labels: {
                    boxWidth:30,
                    padding:20 //凡例の各要素間の距離
              },
              display: true
          },
          tooltips:{
            mode:'label' //マウスオーバー時に表示されるtooltip
          }
      }
    });
    <%# 
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        datasets: [{
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
    %>
  </script>