<!DOCTYPE html>
<html>
  <head>
    <%= render(:partial => "layouts/head_content") %>

    <script type="text/javascript">
      // 選択プロジェクトのchangeイベントを取得してsubmit
      $(document).ready(function(){
        $('#project_id').on('change', function(){
          $('#select_project_form').submit();
        });
      });
    </script>
  </head>

  <body>
    <%= render(:partial => "layouts/navigation_bar") %>

    <main role="main" class="container-fluid">
      <div class="row">

        <!-- sidemenu -->
        <div class="col-md-3">
          <!-- select project -->
          <div class="card mb-4 <%= "d-none" if defined?(hidden_project) %>">
            <h5 class="card-header">Project</h5>
            <div class="card-body">
              <%= form_tag({:controller => '/authed/api', :action => 'select_project'}, { :id => 'select_project_form'}) do %>
                <input id="controller_name" name="controller_name" type="hidden" value="<%= controller.controller_path %>">
                <select id="project_id" name="project_id" class="form-control form-control-sm">
                    <% @assign_projects.each do |project| %>
                      <option value="<%= project.id %>" <%= "selected" if project.id == current_project_id %>> <%= project.name %></option>
                    <% end %>
                </select>
              <% end %>
            </div>
          </div>

          <!-- other menu -->
          <%= yield :sidemenu %>
        </div>

        <!-- main content -->
        <div class="col-md-9">
          <%= render(:partial => "layouts/main_alert") %>
          <%= yield %>
        </div>

      </div><!-- /.row -->
    </main><!-- /.container -->
  </body>
</html>
