<!DOCTYPE html>
<html>
  <head>
    <%= render(:partial => "layouts/head_content") %>
    <style>
      body{
        padding-top:55px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="<%= root_path %>"><%= MyAppConst::APP_NAME %></a>
    </nav>

    <div class="fixed-top m-3" style="top:55px;">
      <% if notice.present? %>
      <p class="alert alert-info alert-dismissible fade show" role="alert">
        <span><%= notice %></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
      <% end %>

      <% if alert.present? %>
      <p class="alert alert-danger" role="alert">
        <span><%= alert %></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
