<h2><%= t('.title') %></h2>

<%= form_with(model: current_user, url: profile_edit_password_path, html: {method: :post}, local: true) do |form| %>
  <%= render(partial: "view_parts/alert/validation", locals: {model: current_user}) %>

  <%= render(partial: "view_parts/form/input_password", locals: {form: form, field_name: "current_password", required: true}) %>
  <%= render(partial: "view_parts/form/input_password", locals: {form: form, field_name: "password", label_name: "新しいパスワード", required: true}) %>
  <%= render(partial: "view_parts/form/input_password", locals: {form: form, field_name: "password_confirmation", label_name: "新しいパスワード（確認用）",required: true}) %>

  <div>
    <%= form.submit(get_action_text, class: "btn btn-primary") %>
  </div>
<% end %>
