<h1>Show Project</h1>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.name') %>
  </p>
  <p class="col-8"><%= @project.name %></p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.summary') %>
  </p>
  <p class="col-8"><%= @project.summary %></p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.start_date') %>
  </p>
  <p class="col-8"><%= @project.start_date %></p>
</div>

<div class="form-group row border-bottom">
  <p class="col-3 col-md-2">
    <%= t('.end_date') %>
  </p>
  <p class="col-8"><%= @project.end_date %></p>
</div>


<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %>
<%= link_to "戻る", 'javascript:void(0);', onclick: "history.back();", class: "ml-3 btn btn-primary" %>
