<title>RailsApp</title>
<link rel="icon" href="/favicon.ico">


<%# meta tag %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%= csrf_meta_tags %>
<%= yield(:meta) if content_for?(:meta) %>


<%# load css %>
<link rel="stylesheet" media="all" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" media="all" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
<link rel="stylesheet" media="all" href="/node_modules/flatpickr/dist/flatpickr.css">
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= yield(:head_css) if content_for?(:head_css) %>


<%# load javascript %>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/jquery-ui-dist/jquery-ui.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="/node_modules/rails-ujs/lib/assets/compiled/rails-ujs.js"></script>
<script src="/node_modules/flatpickr/dist/flatpickr.js"></script>
<script src="/node_modules/flatpickr/dist/l10n/ja.js"></script>
<script>
  // flatpickrのローカライズ
  flatpickr.localize(flatpickr.l10ns.ja);
  // 指定タグにイベントセット
  $(document).ready(function(){
    flatpickr(".date-by-flatpickr", { wrap: true });
    flatpickr(".time-by-flatpickr",
              { wrap: true,
                enableTime: true,
                noCalendar: true,
                time_24hr: true 
              });
  });
</script>

<%= javascript_include_tag 'application' %>
<%= yield(:head_js) if content_for?(:head_js) %>
