<!DOCTYPE html>
<html>
  <head>
    <%= render(:partial => "layouts/head_content") %>

    <style type="text/css">
      body {
        padding-top: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .user-icon-circle {
        vertical-align: middle;
        border-radius: 50%;
        height: 35px;
        width: 35px;
      }
      .user-no-icon {
        vertical-align: middle;
        font-size: 25px;
      }

    </style>

    <!-- 選択プロジェクトのchangeイベントを取得してsubmit -->
    <script type="text/javascript">
      $(document).ready(function(){
        $('#project_id').on('change', function(){
          $('#select_project_form').submit();
        });
      });
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="<%= dashboard_path %>">RailsApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbars" aria-controls="header-navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="header-navbars">
        <!-- 左寄せメニュー -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= "active" if controller_name == "dashboard" %>">
            <a class="nav-link" href="<%= dashboard_path %>">Dashboard</a>
          </li>
          <li class="nav-item <%= "active" if controller_name == "projects" %>">
            <a class="nav-link" href="<%= projects_path %>">Project</a>
          </li>
          <li class="nav-item <%= "active" if controller_name == "tickets" %>">
            <a class="nav-link" href="<%= tickets_path %>">Ticket</a>
          </li>
          <li class="nav-item <%= "active" if controller_name == "setting" %>">
            <a class="nav-link disabled" href="#">Setting</a>
          </li>
          <% if current_user.admin %>
          <li class="nav-item <%= "active" if controller_path.start_with?("admin") %>">
            <a class="nav-link" href="<%= admin_top_path %>">Admin</a>
          </li>
          <% end %>
        </ul>

        <!-- 右寄せメニュー -->
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle py-0" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="d-inline-block text-white" style="cursor:pointer">
                <% if current_user.user_image_path.present? %>
                  <img class="user-icon-circle" src="<%= current_user.user_image_path_url %>">
                <% else %>
                  <span class="user-no-icon"><i class="fas fa-user"></i></span>
                <% end %>
                <span class="ml-2"><%= current_user.user_name %></span>
              </div>
            </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <span class="dropdown-header" href="#">Sign in as <%= current_user.user_name %></span>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= users_profile_edit_path %>">Profile</a>
            </div>
          </li>
        </ul>
        <div class="form-inline mx-2">
          <%= link_to(t('text.action.logout'), destroy_user_session_path, {:method => :delete, :class => "btn btn-sm btn-primary", :style => "font-size:1rem"}) %>
        </div>
      </div>
    </nav>

    <main role="main" class="container-fluid">
      <div class="row">
        <!-- sidemenu -->
        <div class="col-md-3">
          <!-- select project -->
          <div class="card mb-3 <%= "d-none" if defined?(hidden_project) %>">
            <h5 class="card-header">Project</h5>
            <div class="card-body">
              <%= form_tag({:controller => '/api', :action => 'select_project'}, { :id => 'select_project_form'}) do %>
                <input id="controller_name" name="controller_name" type="hidden" value="<%= controller.controller_path %>">
                <select id="project_id" name="project_id" class="form-control form-control-sm">
                    <% @select_projects.each do |project| %>
                      <option value="<%= project.id %>" <%= "selected" if project.id == current_project_id %>> <%= project.name %></option>
                    <% end %>
                </select>
              <% end %>
            </div>
          </div>

          <!-- other menu -->
          <%= yield :sidemenu %>
        </div>

        <!-- main content -->
        <div class="col-md-9">
          <% if notice.present? %>
          <p class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= simple_format(notice, {}, {wrapper_tag: "span"}) %>
          </p>
          <% end %>

          <% if alert.present? %>
          <p class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= simple_format(alert, {}, {wrapper_tag: "span"}) %>
          </p>
          <% end %>

          <%= yield %>
        </div>
      </div>

    </main><!-- /.container -->
  </body>
</html>
