<h2>Edit Profile</h2>

<%= form_for(@user, url: users_profile_edit_path, html: {method: :post, multipart: true}) do |form| %>

   <%= render(partial: "view_parts/form/input_file", locals: {form: form, field_name: :user_image_path}) %>

  <div class="form-group">
    <%= form.label :user_name %><br />
    <%= form.text_field :user_name, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %><br />
    <%= form.email_field :email, autocomplete: "email", :class => "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", 'javascript:void(0);', onclick: "history.back();", :class => "ml-3 btn btn-primary" %>
  </div>
<% end %>
